.tab-content table {
	width: 100%!important; /* senza !important la width viene sovrascritta da JavaScript */
}

#controls {
	margin-bottom: 10px;
}

.new-tag-area {
	display: flex;
	justify-content: flex-start;
	width:100%;
}

.new-tag-area [type="submit"] {
	margin-left: 0.5em;
}

.new-tag-area input {
	margin: 5px 0;
}

.tab-content .btn-danger {
	vertical-align: initial;
}

#supplier-tags-table td:nth-child(2) {
	width: 1%;
}

#add-tag {
	-webkit-appearance: none;
	margin-left: 0.5em;
}
