body {
  background: black;
}

@media only screen and (max-width: 768px) {
	.col {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
	}
}
