html {
	min-width: 315;
}

html, body {
	width:100%;
	height:100%;
}

body {
	padding-top: 100px;
	padding-bottom: 8rem;
	min-height: 100%;
}

.logo-name {
	vertical-align: middle;
	margin: 0 10px;
	font-size: 48px;
}

nav {
	background-color: #f8f9fa;
}

form .loading {
	position: absolute;
	color: green;
	padding-left: .375rem;
	font-size: 1.6rem;
}

.navbar-toggler:focus {
	outline: none;
}

.burger-icon {
	display: inherit;
	outline:none;
	width: 30px;
	height: 20px;
	position: relative;
	margin: 0px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}

.burger-icon span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.burger-icon span {
	background: black;
}

.burger-icon span:nth-child(1) {
	top: 0px;
}

.burger-icon span:nth-child(2) {
	top: 10px;
}

.burger-icon span:nth-child(3) {
	top: 20px;
}

.burger-icon.open span:nth-child(1) {
	top: 11px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}

.burger-icon.open span:nth-child(2) {
	opacity: 0;
	left: -60px;
}

.burger-icon.open span:nth-child(3) {
	top: 11px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

.form-collapse input {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-collapse input:first-of-type {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.form-collapse input:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 10px;
}

.form-collapse input:not(:last-of-type) {
  border-bottom: none;
}

.form-collapse {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-collapse .checkbox {
  font-weight: 400;
}

.form-collapse .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-collapse .form-control:focus {
  z-index: 2;
}

#notifications-container{
	display: block;
	position: fixed;
	top: 100px;
	right: 0;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0 1rem 0 1rem;
	background: none;
	pointer-events: none;
	z-index: 3;
}

@media only screen and (min-width: 768px) {
	#notifications-container {
		width: 50%;
		right: 50px;
		padding: 0;
	}
}

#notifications-container > div {
	display: block;
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 100%;
	height:auto;
	pointer-events: auto;
	background-color: white;
}

#notifications-container > div  time{
	font-size: smaller;
	float: right;
}

#notifications-container > div p:last-of-type,  #notifications-container > div ul:last-of-type{
	margin-bottom: 0;
}


#validator-dialog {
	display:none;
	position:fixed;
	z-index: 9999;
	background-color: transparent;
	margin: 0;
	right: 10px;
	bottom: 10px;
	width: 6em;
	height: 6em;
}

#validator-dialog .group {
	height: 40%;
	margin-top: 5%;
	text-align: center;
}
#validator-dialog .group > button {
	height: 100%;
	width: 100%;
	margin:0;
}

#validator-dialog .group > span {
	display:none;
	color: white;
	filter: drop-shadow(0px 0px 1px #000);
	-webkit-filter: drop-shadow(0px 0px 1px #000);
}

#validator-dialog .group > span * {
	color: white;
	filter: drop-shadow(0px 0px 1px #000);
	-webkit-filter: drop-shadow(0px 0px 1px #000);
}

.bg-blur-image {
	z-index: -1;
	background: linear-gradient(0deg, rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('../res/home.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
	background-attachment: fixed;
	-webkit-filter: blur(5px);
	filter: blur(5px);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#custom-search-input {
    width: 100%;
    margin: auto;
	padding: 5px 0;
}

#search {
	display: table-cell;
	position: relative;
    width: 100%;
	padding: 15px 30px;
	border: 1px solid lightgray;
	border-right: 0;
    border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	font-family: "Helvetica Neue", Helvetica,Arial, sans-serif;
    font-weight: 600;
    color: #444;
}

#custom-search-input input.btn-search {
	width: 25px;
    height: 25px;
	border: 0;
    background: url(../res/search.svg) no-repeat center right;
    cursor: pointer;
}

.input-group-search {
    display: table;
}

.input-group-btn-search {
	display: table-cell;
	background: white;
	border: 1px solid lightgray;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left: 0;
	padding-right: 15px;
    font-size: 0;
    width: 1%;
    vertical-align: middle;
}

@media only screen and (max-width: 768px) {

	body {
		padding-top: 75px;
	}

	#search {
		padding: 5px 15px ;
	}

	header nav div a img {
		width: 30px;
		height: 30px;
	}

	.logo-name {
		font-size: 28px;
	}

	section.container h1 {
		font-size: 1.8rem;
	}
}
