#list-form {
	margin-bottom: 19px;
	border: 1px solid lightgray;
}

#list-form h1 {
	font-size: 2rem;
	margin: 4px 4px 0;
	padding: 0px;
}

#list-form .btn-link {
	color: black;
}

#list-form input {
	padding: 2px 5px;
	background: transparent;
	border: none;
	border-bottom: 1px solid #000000;
	box-shadow: none;
	border-radius: 0;
}

#list-form input[name^="section["] {
	font-weight: 500;
	font-size: 1.2rem;
}

.price {
	text-align: right;
}

.section {
    width: 100%;
    font-size: 1rem;
}

li.section .container {
	margin-bottom: 8px;
}

.accordion-icon {
	cursor: pointer;
	margin: 0 5px;
	float: right;
	font-size: 1.4rem;
}

.remove-product, .remove-section, .new-product, .new-section {
	display: inline-block;
	cursor: pointer;
	font-weight: 650;
}

.input-symbol-euro:after {
  color: #black !important;
  content: "€";
  font-size: 16px !important;
  font-weight: 400;
  left: 10px;
  position: absolute;
  margin-top: 2px;
}

.input-symbol-euro {
  position: relative;
}
  
.remove-product, .remove-section {
	padding: 0 5px;
}

.new-product, .new-section {
	padding: 5px 20px;
}

#list-form ol {
	padding-left: 0;
    list-style: none;
}

#list-form li {
	margin-bottom: 10px;
	background: #eee;
}

#list-form li div.accordion {
	margin: 0;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}