nav {
	background-color: rgba(0, 0, 0, 0.8);
}

.burger-icon span {
	background: white;
}

nav a, nav button, nav input,  h1 {
	color: white !important; /* altrimenti bootstrap fa i link neri nel menu.. */
	text-shadow: 0 0 20px black;
}

html, body {
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
}

html {
	background: url('../res/home.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
	background-attachment: fixed;
}

body {
	background-color: rgba(0, 0, 0, 0.4);
}

body > section h1 {
	font-size: 3rem;
}

body > section p {
	font-size: 2rem;
}

#custom-search-input {
    width: 50%;
}

.input-group-btn-search {
	position: relative;
}

@media only screen and (max-width: 768px) {

	#custom-search-input {
	    width: 75%;
	}

	body > section h1  {
		font-size: 2.0rem;
	}

	body > section p, h2  {
		font-size: 1rem;
	}

	nav {
		background-color: black;
	}

}
