.req {
  color: red;
}

.btn {
  display: block;
}

#icon-preview, #cover-preview {
  border: 2px solid lightgray;
  width: 100%;
  height: auto;
  overflow: hidden;
}

#icon-wrapper, #cover-wrapper {
  position: relative;
  overflow: hidden;
  background: white no-repeat center center;
}

#icon-wrapper {
	width: 120px;
	height: 120px;
}

#cover-wrapper {
	width: 100%;
	height: 320px;
}
