.list-group ol {
	padding-left: 0;
    list-style: none;
}

.list-group img {
	border: 2px solid lightgray;
}

.notification-description {
	text-align: left;
}

.notification-time {
	font-size: smaller;
	text-align: right;
	margin-bottom: 0;
}

li.list-group-item ol {
    margin-bottom: 1rem;
}

li.list-group-item li {
	font-size: smaller;
}

.page-footer {
	margin-top: 200px;
}
