.container {
	padding-top: 4px;
}

.nostyle {
    list-style-type: none;
}

.card p:last-of-type {
	font-weight: bold;
}

@media only screen and (max-width: 768px) {

	h2 {
		font-size: 1.5rem;
	}

}
