#orders-content p {
	line-height: 1.29;
	margin: 0;
}

#orders-content li {
	padding: 0.6rem;
	background-color: #f8f9fa;
}

#orders-content ol {
	padding-left: 0;
    list-style: none;
}

.ordered-products {
	margin: 5px 0;
	font-size: smaller;
}

.accept-order {
	display: flex;
    align-items: center;
    justify-content: flex-end;
}

.accept-order .btn-link {
	color: black;
}

#notes {
	margin: 5px 0;
}

.timeago {
	font-size: smaller;
	float: right;
}

.page-footer {
	margin-top: 200px;
}
