section {
	width: 50%;
	margin: auto;
}

section h1 {
	text-align: center;
	font-size: 18px;
	margin-top: 30px;
	padding-top: 30px;
}

section h2 {
	font-size: 15px;
	margin-top: 15px;
}

section h3, section h4 {
	font-size: 12px;
	margin-top: 10px;
}

section p {
	font-size: 10px;
}

section h2, section h3, section h4, section p {
	text-align: justify;
}

@media only screen and (max-width: 768px) {

	section {
		width: 90%;
	}

	body {
		padding-top: 10px;
	}

}
