#subheader {
	margin: 0;
	padding: 0;
	text-align: center;
	color: white;
	text-shadow: 0 0 20px black;
	width: 100%;
	height: 300px;
	position: relative;
}

#content {
	position: relative;
	z-index: 2;
}

#subheader h2 {
	padding: 0;
	margin: 0;
	background: none;
	font-size: 2.5rem;
	font-weight: normal;
}

#subheader div {
	height: 100%;
	width: 100%;
	align-items: center;
	padding-top: 1rem;
}

#subheader p {
	margin: 0;
	padding: 0;
}

#subheader img {
	border: 2px solid lightgray;
}

#icon {
	margin-top: 25px;
	width: 120px;
	height: 120px;
}

#cover {
	width: 100%;
	height: 250px;
}

#background {
	top: 0;
  left: 0;
	z-index: -100;
	padding-bottom: 56.25%; /* Mantiene aspect ratio sfondo */
	position: absolute;
}

#menu h2, #cart h2 {
	font-size: 2.2rem;
    color: black;
}


.section {
	margin: 5px 0;
}

div .section:first-child {
	margin-top:0;
}

.section li {
	border-bottom: 1px solid lightgray;
}

.section-name {
	background-color: white;
	border-bottom: 2px solid black !important;
	font-size: 1.5rem;
	color: #444;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.section-name > span {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#menu li {
	height: 100%;
}

#cart ol, #menu ol {
	list-style-type: none;
	list-style-position: inside;
	margin: 0;
    padding: 0;
	width: 100%;
}

.section ol {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.product {
	padding: 5px 0 5px 4px;
}
.section {
	padding: 5px 0 0 5px;
}

.product-price {
	text-align: right;
}

#subtotal::before, #delivery-cost::before, #total::before, .product-price::before {
	content: '€ ';
}

.btn:focus, .btn:active:focus, .btn.active:focus{
    outline: none;
    box-shadow: none;
}

.add-product {
	font-size: 1.2rem;
}

#cart p:last-of-type {
	font-weight: bold;
}

.product-id {
	display: none;
}

#toast-container {
display: block;
	position: fixed;
	bottom: 20px;
	right: 0;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0 1rem 0 1rem;
	background: white;
	pointer-events: none;
	z-index: 3;
}

#toast-container > div {
	display: block;
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 100%;
	height:auto;
	pointer-events: auto;
}

#toast-container > div p {
	margin: 0;
	text-align: center;
}

@media only screen and (min-width: 768px) {
	#toast-container {
		display: none;
	}
}

@media only screen and (max-width: 768px) {

	#subheader {
		color: black;
		height: 200px;
		margin-bottom: 30px;
		text-shadow: 0 0 0px white;
	}

	h2 {
		font-size: 1.5rem !important;
	}

	#icon {
		width: 80px;
		height: 80px;
		margin-bottom: 20px;
	}

	#cover {
		width: 100%;
		height: 120px;
	}

}
