.icon {
	height: 80px;
	width: 80px;
}

.container h2 {
	font-size: 24px;
	font-weight: normal;
}

#search-panel li {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	line-height: 5px;
	font-weight: lighter;
	border: 1px solid #dee2e6;
	padding: 5px 10px 5px;
	margin: 0 0 10px;
	text-align: left;
}

#search-panel ul {
	display: inline-block;
	width: 100%;
	line-height: 0;
	list-style: none;
	margin: 10px 0;
	padding: 0;
}

#search-panel a {
	text-decoration: none;
}

#search-panel p {
	line-height: 1.5;
	margin: 0;
	padding-left: 1rem;
}

#search-panel img {
	float: left;
	margin: 2px 10px 0 0;
	border: 1px solid lightgray;
}